@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This website will include a calculator</p>

<p>On the next page you should be able to see the calculator page </p>
